
@media (max-width: 768px) {
 
*{ margin: 0;
  padding: 0;
}

.home-page-main{
  background-image: url("../responsiveImage/mainFood.jpeg");
  background-size: cover;
}

.top-para{
  color: rgb(222, 228, 233);
  text-align: center;
  display: none;
}

.top-head{
  color: bisque;
  font-size: 32px;
  text-align: center;
  text-transform: none;
  width: 70%;
  font-family: 'Poppins', sans-serif;
  margin-left: 15%; ;
  padding-top: 25%;
}

.button-container {
  display: flex; 
  justify-content: center; 
  margin-top: 500px; 
  
}

.menu-cart-box{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.menu-cart {
  height: 300px;
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  display: none;
}

.cart-txt{
  color: rgb(224, 198, 165);
  margin-top: 50px;
  text-align: center;
  display: none;
}

.cart{
  height: 100%;
  width: 25%;
  background-color: rgb(217, 207, 199);
}

.h1-menu{
  color: rgb(48, 69, 54);
}

.img_1{
  width: 100%; 
    height: 100%; 
    background-image: url('../images/Appetizer.jpg'); 
    background-size: cover; 
    background-position: center;
}

.img_2{
  width: 100%; 
    height: 100%; 
    background-image: url('../images/MainCourse.jpg'); 
    background-size: cover; 
    background-position: center;
}

.img_3{
  width: 100%; 
    height: 100%; 
    background-image: url('../images/Drinks.jpg'); 
    background-size: cover; 
    background-position: center;
}

.img_4{
  width: 100%; 
    height: 100%; 
    background-image: url('../images/Disserts.jpg'); 
    background-size: cover; 
    background-position: center;
}

.btn-menu-hm{
  background-color: rgb(160, 134, 55);
  width: 100%;
  height: 12%;
  border: 2px solid rgb(161, 156, 130);
  cursor: pointer;
  color: azure;
}

.vdo-2nd{
  width: auto;
  padding-top: 10%;
}

.cntct-btn-h{
  display: flex; 
  justify-content: center; 
  margin-top: 10px; 
}

.btn-resrv{
  display: none;
}

.Dv-2nd{
  display: none;
}

.h1-2nd{
  width: 100%;
}

}