
*{
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background-color: #12464D; 
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.logo-image {
  height: 40px;
}

.menu {
  display: flex;
  gap: 15px;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: white; 
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #efbdbd; 
}

/* Icons */
.icons {
  display: flex;
  gap: 10px;
}

/* Burger icon (hidden on larger screens) */
.burger-icon {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    background-color: transparent; 
  }


  .burger-icon {
    display: block;
    position: absolute;
    left: 20px; 
    display: flex;
    justify-content: start;
    color: #D3B486;
  }

  .logo {
    margin-left: 30%;
  }

  .menu {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #dbf4eec7;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
    border-top: 1px solid #ccc;
  }

  /* Show menu when it’s open */
  .menu.menu-open {
    display: flex;
  }
  
  .menu a {
    color: #09303a; 
    font-size: 1.2rem;
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  /* Display icons on mobile below the menu */
  .icons {
    display: flex;
    justify-content: end;
    width: 100%;
    margin-top: 10px;
  }

}
